{{template "top.gohtml" .}}
        <main>
            <h1>404 - Arc Not Found</h1>
            <p>The arc "{{.}}" doesnt exists. <a href="/">Go back to intro arc</a></p>
        </main>
{{template "bottom.gohtml"}}